﻿
@{
    ViewData["Title"] = "Index";
}

<h2>save your cookies</h2>
<form asp-controller="cookies" asp-action="writeCookie" method="post">
    <select name="cookiename">
        <option value="username">UserName</option>
        <option value="password">PassWord</option>
    </select>
    
    <input type="text" name="cookievalue" />
    <input type="checkbox" name="IsPersistent" value="true" />?IsPersistent
    <input type="submit" value="Add Cookie" />

</form>
<br /><br />
<p><a asp-action="readcookie" asp-controller="cookies">Read Cookie</a></p>
<p>@ViewBag.message</p>
